* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100vw;
}
a {
  color: black;
} 
/* dit hieronder is voor het werken van de landingspagina in 1 geheel */
header {
  height: 82px;
}
.logo {
  height: 50%;
  display: flex;
  right: 400px;
  position: relative;
  z-index: 1;
}
nav {
  height: 82px;
  display: flex;
  justify-content: center;
  top: 20px;
  font-size: 20px;
  gap: 24px;
  color: black;
  position: relative;
  z-index: 1;
}
#page-color-blue {
  position: relative;
  width: 70vw;
  height: 775px;
  background-color: #75abbc;
  display: flex;
  top: -100px;
}
#page-color-white {
  width: 25vw;
  display: flex;
}
.page-square {
  position: relative;
  display: flex;
  width: 670px;
  height: 800px;
  padding: 160px;
  left: -500px;
  padding-bottom: 100px;
  background-color: transparent;
  transform: rotate(40deg);
  background-color: white;
}
#landing-page {
  display: flex;
}
.middle {
  position: relative;
  z-index: 1;
  padding-top: 15%;
  font-size: 48px;
  width: 2100px;
  left: 300px;
}
.cv{
    border: 2px solid #75abbc;
    font-size: 16px;
    font-weight: normal;
    width: 7vw;
    position: relative;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}
/* in dit stukje hieronder werkt de css van de about pagina */
.eigen-foto {
  position: relative;
  z-index: 1;
  width: 20%;
  left: 310px;
}
.kop-text {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  left: 20px;
  top: 20px;
}
.about-text {
  display: flex;
  position: relative;
  padding-left: 900px;
  font-size: 20px;
  bottom: 300px;
  height: 300px;
}
/* dit hieronder is experience en education css, zodat het allemaal werkt */
.experience-block {
  position: relative;
  width: 700px;
  height: 400px;
  border: 4px solid #75abbc;
}
.about-place {
  padding-left: 900px;
  bottom: 400px;
  position: relative;
  font-size: 48px;
  font-weight: bold;
}
#experience {
  position: relative;
  padding-left: 400px;
  bottom: 300px;
  padding-top: 20px;
}
.experience-text {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  left: 390px;
  bottom: 110px;
}
.education-text {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    left: 400px;
    bottom: 100px;
  }
.small-text {
  position: relative;
  font-size: 24px;
  font-weight: normal;
}
.education-block {
  position: relative;
  width: 700px;
  height: 400px;
  border: 4px solid #75abbc;
  top: 350px;
  right: 400px;
}
.experience-image{
    position: relative;
    width: 50%;
    left: 20px;
    top: 20%;
}
.education-image{
    position: relative;
    width: 50%;
    top: 17%;
    left: 20px;
}
.kop-text-contact {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  padding-left: 400px;
  top: 20px;
}
#education {
  position: relative;
  padding-left: 400px;
  bottom: 300px;
  padding-top: 20px;
}
/* door dit stukje css hieronder werkt de contact pagina */
input[type="submit"] {
  background-color: #a2aebb;
  color: white;
  display: flex;
  position: relative;
  padding: 10px;
  top: 180px;
  bottom: 16px;
  width: 464px;
  left: 305px;
}
.name {
  position: relative;
  padding: 10px;
  top: 100px;
  bottom: 16px;
  width: 200px;
  border: 2px solid #75abbc;
  margin: 5px;
  left: 300px;
}
#subject {
  display: flex;
  position: relative;
  padding: 10px;
  top: 130px;
  bottom: 16px;
  width: 440px;
  border: 2px solid #75abbc;
  margin: 5px;
  left: 300px;
}
#message {
  display: flex;
  position: relative;
  padding: 10px;
  top: 160px;
  bottom: 16px;
  width: 440px;
  border: 2px solid #75abbc;
  margin: 5px;
  left: 300px;
  height: 100px;
}
.image {
  display: flex;
  position: relative;
  left: 900px;
  right: 80px;
  margin: 10px;
  bottom: 70px;
}
.text {
  display: flex;
  position: relative;
  padding-left: 1000px;
  bottom: 260px;
  font-size: 26px;
  font-weight: bold;
  margin: 55px;
}
/* dit is allemaal css waardoor de footer een geheel is  */
footer {
  background-color: #75abbc;
  height: 202px;
}
p {
  position: relative;
  right: 230px;
  font-size: 32px;
}
h2 {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  right: 300px;
  top: 20px;
  
}
h3 {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  right: 150px;
  bottom: 45px;
  
}
.question {
  position: relative;
  left: 300px;
}
.footer-image {
  position: relative;
  display: flex;
  left: 200px;
  width: 20%;
}
.footer-text {
  position: relative;
  display: flex;
  bottom: 170px;
  margin: 50px;
  left: 250px;
}

